<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

<-- Replace the below items -->
  <appSettings>
    <add key="EndpointUri" value="https://YOUR_COSMOS_ACCOUNT_NAME.documents.azure.com:443/" />
    <add key="PrimaryKey" value="YOUR_COSMOS_KEY==" />
    <add key="databaseId" value="YOUR_COSMOS_DATABASE_NAME" />
    <add key="containerId" value="YOUR_COSMOS_CONTAINER_NAME" />
  </appSettings>

</configuration>